[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Calendar-App-Microservices/auth-ms.git

[submodule "client-gateway-ms"]
	path = client-gateway-ms
	url = https://github.com/Calendar-App-Microservices/client-gateway-ms.git

[submodule "medical-record-ms"]
	path = medical-record-ms
	url = https://github.com/Calendar-App-Microservices/medical-record-ms.git

